---
import BaseLayout from "../layouts/BaseLayout.astro";

import CallToAction from "../components/CallToAction.astro";
import Education from "../components/Education.astro";
import Experience from "../components/Experience.astro";
import Hero from "../components/Hero.astro";
import Positions from "../components/Positions.astro";
---

<BaseLayout
  title="About | Vignesh S Naik"
  description="About Vignesh S Naik Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <!-- <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Vignesh S Naik at work with a colleague"
        />
      </Hero> -->

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            As a friendly and sociable individual, I possess strong teamwork
            skills and am always ready to take on responsibilities. My learning
            style may not be the fastest, but it ensures that the knowledge I
            acquire becomes deeply ingrained. I am eager to contribute to
            scalable solutions, I am enthusiastic about joining a dynamic team
            and embracing opportunities for growth and improvement in
            programming and technical fields.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Experience</h2>
        <div class="content">
          <Experience />
        </div>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <Education />
        </div>
        <h2 class="section-title">Positions of Responsibility</h2>
        <div class="content">
          <Positions />
        </div>
      </section>
      <section>
        <h2 class="section-title">Send Me a Message</h2>
        <div class="content">
          <CallToAction />
        </div>
      </section>
    </main>
    
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  .content p {
    font-size: var(--text-lg);
    color: var(--gray-200);
    text-align: justify;
  }

  .cta {
    width: 100%;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content a {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content a:hover,
  .content a:focus {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :first-child {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
