---
const items = [
  {
    institution: "Model Engineering College, Thrikkakara",
    degree: "B.Tech in Computer Science and Engineering",
    duration: "2021-2025",
  },
  {
    institution: "TD HSS, Thuravoor",
    degree: "Higher Secondary Education",
    duration: "2019-2021",
    percentage: "97.8%",
  },
  {
    institution: "Kendriya Vidyalaya No.1, Kochi",
    degree: "Matriculation",
    duration: "2009-2019",
    percentage: "89.4%",
  },
];
---

<ul>
  {
    items.map((item) => (
      <li>
        <>
          <b>
            {item.institution} <span class="duration">{item.duration}</span>
          </b>
          <p>
            {item.degree}
            <br />
            {item.percentage ? (
              <span> Percentage: {item.percentage}</span>
            ) : null}
            <br />
          </p>
        </>
      </li>
    ))
  }
</ul>

<style>
  ul {
    border-left: 2px solid var(--gray-300);
    padding: 0;
  }

  ul li {
    list-style: none;
    margin: 0 0 0.5em 0;
    padding: 0;
    font-size: 1em;
  }

  ul li .duration {
    float: right;
    margin-left: auto;
  }
  ul li p {
    margin: 0;
    padding: 0 0 0 1.5em;
    font-size: 0.75em;
  }

  ul li:before {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    margin: 0 0.5em 0 -0.65em;
    border-radius: 50%;
    content: " ";
    text-align: center;
    background: var(--gray-100);
    border: 2px solid var(--gray-300);
    color: var(--gray-500);
    font-size: 0.8em;
    line-height: 1.2em;
  }
</style>
