---
import Icon from "./Icon.astro";
const currentYear = new Date().getFullYear();
---

<footer>
  <p>Designed and developed by Vignesh S Naik</p>
  <br />
  <p class="socials">
    <a href="https://linkedin.com/in/naik-ji"> LinkedIn</a>
    <a href="https://github.com/vigneshsnaik"> GitHub</a>
    <a href="mailto:vigneshsnaik03@gmail.com"> Email</a>
  </p>
</footer>

<style>
  footer {
    display: flex;
    flex-direction: column;
    /* gap: 3rem; */
    margin-top: auto;
    padding: 3rem 2rem 3rem;
    text-align: center;
    color: var(--gray-400);
    font-size: var(--text-sm);
  }

  footer a {
    color: var(--gray-400);
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  footer a:hover,
  footer a:focus {
    text-decoration-color: currentColor;
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
  }
</style>
