---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
    <meta
      name="google-site-verification"
      content="3N6JgZLnGCzw7mTTLxFEOxhwKszDdRbq-3pY5HKw0Wk"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta
      name="description"
      content="Aspiring Developer from
    Kochi, Kerala, India."
    />
    <meta name="author" content="Vignesh S Naik" />
    <meta
      name="keywords"
      content="Vignesh S Naik, Vignesh, Naik, Vignesh S,
    Vignesh N, Vignesh S N, Naik Ji, Vignesh Naik, Vignesh S Naik, Vignesh S
    Naik Ji, Vignesh S Naik, Vignesh S Naik Kochi, Vignesh S Naik Kerala,
    Vignesh S Naik India, Vignesh S Naik Developer, Vignesh S Naik Designer,
    Vignesh S Naik Programmer, Vignesh S Naik Web Developer, Vignesh S Naik Web
    Designer, Vignesh S Naik Web Programmer, Vignesh S Naik Full Stack
    Developer, Vignesh S Naik Full Stack Designer, Vignesh S Naik Full Stack
    Programmer, Vignesh S Naik Front End Developer, Vignesh S Naik Front End
    Designer, Vignesh S Naik Front End Programmer, Vignesh S Naik Back End
    Developer, Vignesh S Naik Back End Designer, Vignesh S Naik Back End
    Programmer, Vignesh S Naik UI Developer, Vignesh S Naik UI Designer, Vignesh
    S Naik UI Programmer, Vignesh S Naik UX Developer, Vignesh S Naik UX
    Designer, Vignesh S Naik UX Programmer, Vignesh S Naik MERN Stack Developer,
    Vignesh S Naik MERN Stack Designer, Vignesh S Naik MERN Stack Programmer,
    Vignesh S Naik Model Engineering College, Vignesh S Naik MEC, Vignesh S Naik
    MEC Kochi, Vignesh S Naik MEC Kerala, Vignesh S Naik MEC India, Vignesh S
    Naik Model Engineering College Kochi, Vignesh S Naik Model Engineering
    College Kerala, Vignesh S Naik Kendriya Vidyalaya No 1 kochi, Vignesh S Naik
    Kendriya Vidyalaya No 1 Kochi, Vignesh S Naik Kendriya Vidyalaya No 1,
    Vignesh S Naik Kendriya Vidyalaya No 1 Kochi, Vignesh S Naik Kendriya
    Vidyalaya No 1 Kerala, Vignesh S Naik Kendriya Vidyalaya No 1 India, Vignesh
    S Naik KV No 1 Kochi, Vignesh S Naik KV No 1 Kerala, Vignesh S Naik KV No 1
    India, Vignesh S Naik KV No 1, Vignesh S Naik KV No 1 Kochi, Vignesh S Naik
    KV No 1 Kerala, Vignesh S Naik KV No 1 India, Vignesh S Naik KV No 1,
    Vignesh S Naik KV No 1 Kochi, Vignesh S Naik KV No 1 Kerala, Vignesh S Naik
    KV No 1 India, Vignesh S Naik KV No 1, Vignesh S Naik KV No 1 Kochi, Vignesh
    S Naik KV No 1 Kerala, Vignesh S Naik KV No 1 India, Vignesh S Naik KV No 1,
    Vignesh S Naik KV No 1 Kochi, Vignesh S Naik KV No 1 Kerala, Vignesh S Naik
    KV No 1 India, Vignesh S Naik KV No 1, Vignesh S Naik KV No 1 Kochi, Vignesh
    S Naik KV No 1 Kerala, Vignesh S Naik KV No 1 India, Vignesh S Naik TDHSS
    Thuravoor, Vignesh S Naik TDHSS Thuravoor Kochi, Vignesh S Naik TDHSS
    Thuravoor Kerala, Vignesh S Naik TDHSS Thuravoor India, Vignesh S Naik TDHSS
    Thuravoor, Vignesh S Naik TDHSS Thuravoor Kochi, Vignesh S Naik TDHSS
    Thuravoor Kerala, Vignesh S Naik TDHSS Thuravoor India, Vignesh S Naik TDHSS
    Thuravoor, Vignesh S Naik TDHSS Thuravoor Kochi, Vignesh S Naik TDHSS
    Thuravoor Kerala, Vignesh S Naik TDHSS Thuravoor India, Vignesh S Naik TDHSS
    Thuravoor, Vignesh S Naik TDHSS Thuravoor Kochi, Vignesh S Naik TDHSS
    Thuravoor Kerala, Vignesh S Naik TDHSS Thuravoor India, Vignesh S Naik TDHSS
    Thuravoor, Vignesh S Naik TDHSS Thuravoor Kochi, Vignesh S Naik TDHSS
    Thuravoor Kerala, Vignesh S Naik TDHSS Thuravoor India, Vignesh S Naik TDHSS
    Thuravoor, Vignesh S Naik TDHSS Thuravoor Kochi, Vignesh S Naik TDHSS
    Thuravoor Kerala, Vignesh S Naik TDHSS Thuravoor India, Vignesh S Naik TDHSS
    Thuravoor, Vignesh S Naik TDHSS Thuravoor Kochi, Vignesh S Naik TDHSS
    Thuravoor Kerala, Vignesh S Naik TDHSS Thuravoor India, Vignesh S Naik TDHSS
    Thuravoor, Vignesh S Naik TDHSS Thuravoor Kochi, Vignesh S Naik TDHSS
    Thuravoor Kerala, Vignesh S Naik TDHSS Thuravoor India ,TDHSS Thuravoor,
    TDHSS Thuravoor Kochi, TDHSS Thuravoor Kerala, TDHSS Thuravoor India, TDHSS
    Thuravoor, TDHSS Thuravoor Kochi, TDHSS Thuravoor Kerala, TDHSS Thuravoor
    India, TDHSS Thuravoor, TDHSS Thuravoor Kochi, TDHSS Thuravoor Kerala, TDHSS
    Thuravoor India, TDHSS Thuravoor, TDHSS Thuravoor Kochi, TDHSS Thuravoor
    Kerala, TDHSS Thuravoor India, TDHSS Thuravoor, TDHSS Thuravoor Kochi, TDHSS
    Thuravoor Kerala, TDHSS Thuravoor India, TDHSS Thuravoor, TDHSS Thuravoor
    Kochi, TDHSS Thuravoor Kerala, TDHSS Thuravoor India, TDHSS Thuravoor, TDHSS
    Thuravoor Kochi, TDHSS Thuravoor Kerala, TDHSS Thuravoor India, TDHSS
    Thuravoor, TDHSS Thuravoor Kochi, TDHSS Thuravoor Kerala, TDHSS Thuravoor
    India, Kendriya Vidyalaya No 1 kochi, Kendriya Vidyalaya No 1 Kochi,
    Kendriya Vidyalaya No 1, Kendriya Vidyalaya No 1 Kochi, Kendriya Vidyalaya
    No 1 Kerala, Kendriya Vidyalaya No 1 India, KV No 1 Kochi, KV No 1 Kerala,
    KV No 1 India, KV No 1, KV No 1 Kochi, KV No 1 Kerala, KV No 1 India, KV No
    1, KV No 1 Kochi, KV No 1 Kerala, KV No 1 India, KV No 1, KV No 1 Kochi, KV
    No 1 Kerala, KV No 1 India, KV No 1, KV No 1 Kochi, KV No 1 Kerala, KV No 1
    India, KV No 1, KV No 1 Kochi, KV No 1 Kerala, KV No 1 India, KV No 1, KV No
    1 Kochi, KV No 1 Kerala, KV No 1 India, KV No 1, KV No 1 Kochi, KV No 1
    Kerala, KV No 1 India, TDHSS Thuravoor, TDHSS Thuravoor Kochi, TDHSS
    Thuravoor Kerala, TDHSS Thuravoor India, TDHSS Thuravoor, TDHSS Thuravoor
    Kochi, TDHSS Thuravoor Kerala, TDHSS Thuravoor India, TDHSS Thuravoor, TDHSS
    Thuravoor Kochi, TDHSS Thuravoor Kerala, TDHSS Thuravoor India, TDHSS
    Thuravoor, TDHSS Thuravoor Kochi, TDHSS Thuravoor Kerala, TDHSS Thuravoor
    India ,TDHSS Thuravoor, TDHSS Thuravoor Kochi, TDHSS Thuravoor Kerala, TDHSS
    Thuravoor India, TDHSS Thuravoor, TDHSS Thuravoor Kochi, TDHSS Thuravoor
    Kerala, TDHSS Thuravoor India ,TDHSS Thuravoor, TDHSS Thuravoor Kochi, TDHSS
    Thuravoor Kerala, TDHSS Thuravoor India ,TDHSS Thuravoor, TDHSS Thuravoor
    Kochi, TDHSS Thuravoor Kerala,Model Engineering College, MEC, MEC Kochi, MEC
    Kerala, MEC India, Model Engineering College Kochi, Model Engineering
    College Kerala, Model Engineering College India, Model Engineering College,
    Model Engineering College Kochi, Model Engineering College Kerala, Model
    Engineering College India, Model Engineering College, Model Engineering
    College Kochi, Model Engineering College Kerala, Model Engineering College
    India, Model Engineering College, Model Engineering College Kochi, Model
    Engineering College Kerala, Model Engineering College India, Model
    Engineering College, Model Engineering College Kochi, Model Engineering
    College Kerala, Model Engineering College India, Model Engineering College,
    Model Engineering College Kochi, Model Engineering College Kerala, Model
    Engineering College India, Model Engineering College, Model Engineering
    College Kochi, Model Engineering College Kerala, Model Engineering College
    India, Model Engineering College, Model Engineering College Kochi, Model
    Engineering College Kerala, Model Engineering College India, Model
    Engineering College, Model Engineering College Kochi, Model Engineering
    College Kerala, Model Engineering College India, Kendriya Vidyalaya No 1
    kochi, Kendriya Vidyalaya No 1 Kochi, Kendriya Vidyalaya No 1, Kendriya
    Vidyalaya No 1 Kochi, Kendriya Vidyalaya No 1 Kerala, Kendriya Vidyalaya No
    1 India, KV No 1 Kochi, KV No 1 Kerala, KV No 1 India, KV No 1, KV No 1
    Kochi, KV No 1 Kerala, KV No 1 India, KV No 1, KV No 1 Kochi, KV No 1
    Kerala, KV No 1 India, KV No 1, KV No 1 Kochi, KV No 1 Kerala, KV No 1
    India, KV No 1, KV No 1 Kochi, KV No 1 Kerala, KV No 1 India, KV No 1, KV No
    1 Kochi, KV No 1 Kerala, KV No 1 India, KV No 1, KV No 1 Kochi, KV No 1
    Kerala, KV No 1 India, KV No 1, KV No 1 Kochi, KV No 1 Kerala, KV No 1
    India, TDHSS Thuravoor, TDHSS Thuravoor Kochi, TDHSS Thuravoor Kerala, TDHSS
    Thuravoor India, TDHSS Thuravoor, TDHSS Thuravoor Kochi, TD"
    />
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Vignesh S Naik",
        "url": "https://vigneshsnaik.github.io/about-me",
        "image": "https://vigneshsnaik.github.io/about-me/assets/portrait.jpg",
        "sameAs": [
          "https://www.linkedin.com/in/naik-ji",
          "https://vigneshsnaik.github.io/about-me",
          "https://www.github.com/vigneshsnaik",
          "https://github.com/vigneshsnaik"
        ]
      }
    </script>
  </head>
  <body>
    <div class="stack backgrounds">
      <Nav />
      <slot />
      <Footer />
    </div>

    <script>
      // Add “loaded” class once the document has completely loaded.
      addEventListener("load", () =>
        document.documentElement.classList.add("loaded")
      );
    </script>

    <style>
      :root {
        --_placeholder-bg: linear-gradient(transparent, transparent);
        --bg-image-subtle-1: var(--_placeholder-bg);
        --bg-image-subtle-2: var(--_placeholder-bg);
        --bg-image-footer: var(--_placeholder-bg);
        --bg-svg-blend-mode: overlay;
        --bg-blend-mode: darken;
        --bg-image-aspect-ratio: 2.25;
        --bg-scale: 1.68;
        --bg-aspect-ratio: calc(var(--bg-image-aspect-ratio) / var(--bg-scale));
        --bg-gradient-size: calc(var(--bg-scale) * 100%);
      }

      :root.theme-dark {
        --bg-svg-blend-mode: darken;
        --bg-blend-mode: lighten;
      }

      .backgrounds {
        min-height: 100%;
        isolation: isolate;
        background:
					/*noise*/ url("/assets/backgrounds/noise.png") top
            center/220px repeat,
          /*footer*/ var(--bg-image-footer) bottom
            center/var(--bg-gradient-size) no-repeat,
          /*header1*/ var(--bg-image-main-curves) top
            center/var(--bg-gradient-size) no-repeat,
          /*header2*/ var(--bg-image-main) top center/var(--bg-gradient-size)
            no-repeat,
          /*base*/ var(--gray-999);
        background-blend-mode: /*noise*/ overlay,
          /*footer*/ var(--bg-blend-mode), /*header1*/ var(--bg-svg-blend-mode),
          /*header2*/ normal, /*base*/ normal;
      }
      @media (forced-colors: active) {
        /* Deactivate custom backgrounds for high contrast users. */
        .backgrounds {
          background: none;
          background-blend-mode: none;
          --bg-gradient-size: none;
        }
      }
    </style>
  </body>
</html>
